body{
  padding-top: 80px;
  font-family: 'Almost Noteworthy', sans-serif;
}
.align-center{
  text-align: center;
}
#cron-creator .cron-item{
  min-height: 200px;
}
.cron-section-title{
  font-weight: bold;
}
.top-border{
  border: solid 4px #b90102;
  padding: 10px;
}
.page-header h1{
  font-family: 'Almost Noteworthy', sans-serif;
  font-weight: bold;
  font-size: 50px;
}
#outputPassword {
  word-wrap: break-word;
}
.pointer {
  cursor: pointer;
}
.modal-backdrop.in {
    opacity: 0.8;
}
.modal-80 {
  max-width: 80%;
}
.dropdown-menu.left-fifteen {
  left: 15px;
}

@media ( max-width: 768px ) {
  .tools .btn {
    display: block;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
  }
}

@media ( min-width: 768px ) {
  .btn-xl {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: .35rem;
  }
  .btn-xxl {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    border-radius: .4rem;
  }
  .btn-xxxl {
    padding: 2rem 4rem;
    font-size: 2.5rem;
    border-radius: .45rem;
  }
}

/* Cron Radio Fix */
#crontab .form-check-input:only-child,
#lorem .form-check-input:only-child,
#pig-latin .form-check-input:only-child {
  position: absolute;
}

/*FOOTER*/
.footer{
  padding-bottom: 50px;
}
.footer-email{
  color:blue;
  margin-bottom: 10px;
  padding-top: 30px;
}
.tab-content .fa-lg{
  padding-top: 4px;
}
.secret-button{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 60px;
}
.chosen-container-multi .chosen-choices .search-field{
  padding: 3px;
}
.chosen-container-multi .chosen-choices{
  border-radius: 3px;
}
.list-group-item {
  background-color: #999;
}
a.list-group-item {
  color: #fff;
}

/* Hidden Link */
@media ( min-width: 768px ) {
  .secret, .secret:active, .secret:visited, .secret:focus {
    color: transparent;
  }
  .secret:hover {
    color: blue;
  }
  .white:hover {
    color: white;
  }
}
.secret-button {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 50px;
  width: 60px;
  height: 60px;
  line-height: 1;
  text-align: center;
  z-index: 11;
  opacity: 0.5;
}
.secret-button:hover {
  text-decoration: none;
  color: #aaa;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
