@font-face {
    font-family: 'Water Park';
    src: url('water_park-webfont.eot');
    src: url('water_park-webfont.eot?#iefix') format('embedded-opentype'),
         url('water_park-webfont.woff') format('woff'),
         url('water_park-webfont.ttf') format('truetype'),
         url('water_park-webfont.svg#water_parkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}