/*
  Indices styles: javascript version
    This does its magic based on a bunch of Javascript that cruises
    the DOM of Apache's HTML output and injects useful class names
    throughout.
*/

/*==========================================================================*/

img {
    border: 0;
}

/* HEADER STYLING ==========================================================*/

.header {
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* gets rid of visual glitch from hover color */
.header img {
    vertical-align: bottom;
}

header a {
    font-weight: bold;
}

.readme {
    margin-top: 10px;
    margin-bottom: 10px;
}

.path {
    font-size: 13px;
    margin: 10px 0;
}

.credits {
    text-align: right;
    font-size: 9px;
    font-style: italic;
    width: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.credits a {
    text-decoration: underline;
}

address{
display: none;
text-align: center;
}