@font-face {
    font-family: 'Almost Noteworthy Bold';
    src: url('almost-noteworthy-bold-webfont.eot');
    src: url('almost-noteworthy-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('almost-noteworthy-bold-webfont.woff') format('woff'),
         url('almost-noteworthy-bold-webfont.ttf') format('truetype'),
         url('almost-noteworthy-bold-webfont.svg#almost_noteworthy_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}