@font-face {
    font-family: 'Handlee';
    src: url('handlee-regular-webfont.eot');
    src: url('handlee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('handlee-regular-webfont.woff') format('woff'),
         url('handlee-regular-webfont.ttf') format('truetype'),
         url('handlee-regular-webfont.svg#handleeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}