@font-face {
	font-family: 'UpsideDown';
	src: url('UpsideDown-Reg-webfont.eot');
	src: url('UpsideDown-Reg-webfont.eot?#iefix') format('embedded-opentype'),
		url('UpsideDown-Reg-webfont.woff') format('woff'),
		url('UpsideDown-Reg-webfont.ttf') format('truetype'),
		url('UpsideDown-Reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

