@font-face {
    font-family: 'Chalkboard';
    src: url('chalkboard_by_marta_van_eck-webfont.eot');
    src: url('chalkboard_by_marta_van_eck-webfont.eot?#iefix') format('embedded-opentype'),
         url('chalkboard-webfont.woff') format('woff'),
         url('chalkboard_by_marta_van_eck-webfont.ttf') format('truetype'),
         url('chalkboard_by_marta_van_eck-webfont.svg#chalkboard_by_marta_van_eckRg') format('svg');
    font-weight: normal;
    font-style: normal;
}