@font-face
    font-family: 'Chalkboard';
    src: url('chalkboard-webfont.eot');
    src: url('chalkboard-webfont.eot?#iefix') format('embedded-opentype'),
         url('chalkboard-webfont.woff') format('woff'),
         url('chalkboard-webfont.ttf') format('truetype'),
         url('chalkboard-webfont.svg#chalkboardRg') format('svg');
    font-weight: normal;
    font-style: normal;
}