.rust{
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}
.rust.right{
	background-image: url('rust-r.png');
	background-position: top right;
}
.rust.bottom{
	background-image: url('rust-b.png');
	background-position: bottom left;
}
.rust.left{
	background-image: url('rust-l.png');
	background-position: top left;
}
.rust.top{
	background-image: url('rust-t.png');
	background-position: top left;
}
.rust.zoom.top, .rust.zoom.bottom{
	background-size: 100% 50%;
}
.rust.zoom.right, .rust.zoom.left{
	background-size: 50% 100%;
}
.metal{
	background-image: url('metal-2000-high.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.metal.lg.high{
	background-image: url('metal-2000-high.jpg');
}
.metal.high{
	background-image: url('metal-1000-high.jpg');
}
.metal.lg.med{
	background-image: url('metal-2000-med.jpg');
}
.metal.med{
	background-image: url('metal-1000-med.jpg');
}
.metal.lg.low{
	background-image: url('metal-2000-low.jpg');
}
.metal.low{
	background-image: url('metal-1000-low.jpg');
}