@font-face {
    font-family: 'Nova Square';
    src: url('novasquare-webfont.eot');
    src: url('novasquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('novasquare-webfont.woff') format('woff'),
         url('novasquare-webfont.ttf') format('truetype'),
         url('novasquare-webfont.svg#nova_squarebook') format('svg');
    font-weight: normal;
    font-style: normal;
}