

a.turn-off-codemirror {
    margin-left: 25px;
}

#source {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

label {
    cursor: pointer;
}

select {
    width: 250px;
}
.CodeMirror {
    border: 1px solid #ccc;
    margin-bottom: 6px;
}
.CodeMirror-scroll {
  min-height: 400px;
  max-height: 100%;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%
}