.page-header {
	padding: 16px 0;
	border-bottom: solid 1px #aaa;
	margin-bottom: 16px
}

a.turn-off-codemirror {
	margin-left: 25px;
}

#source {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

label {
	cursor: pointer;
}

.CodeMirror {
	border: 1px solid #ccc;
	margin-bottom: 6px;
	width: 100%;
}

.CodeMirror-scroll {
	min-height: 400px;
	max-height: 100%;
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%
}

.settings {
	display: none;
	padding-bottom: 16px;
}