@font-face {
    font-family: 'Almost Noteworthy Light';
    src: url('almost-noteworthy-light-webfont.eot');
    src: url('almost-noteworthy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('almost-noteworthy-light-webfont.woff') format('woff'),
         url('almost-noteworthy-light-webfont.ttf') format('truetype'),
         url('almost-noteworthy-light-webfont.svg#almost_noteworthy_light') format('svg');
    font-weight: normal;
    font-style: normal;
}