/* Black Fog Background Images*/
.fog10 {background: url('fog_10.png') 0 0 transparent;}
.fog20 {background: url('fog_20.png') 0 0 transparent;}
.fog30 {background: url('fog_30.png') 0 0 transparent;}
.fog40 {background: url('fog_40.png') 0 0 transparent;}
.fog50 {background: url('fog_50.png') 0 0 transparent;}
.fog60 {background: url('fog_60.png') 0 0 transparent;}
.fog70 {background: url('fog_70.png') 0 0 transparent;}
.fog80 {background: url('fog_80.png') 0 0 transparent;}
.fog90 {background: url('fog_90.png') 0 0 transparent;}
/* White Fog Background Images*/
.w-fog10 {background: url('w_fog_10.png') 0 0 transparent;}
.w-fog20 {background: url('w_fog_20.png') 0 0 transparent;}
.w-fog30 {background: url('w_fog_30.png') 0 0 transparent;}
.w-fog40 {background: url('w_fog_40.png') 0 0 transparent;}
.w-fog50 {background: url('w_fog_50.png') 0 0 transparent;}
.w-fog60 {background: url('w_fog_60.png') 0 0 transparent;}
.w-fog70 {background: url('w_fog_70.png') 0 0 transparent;}
.w-fog80 {background: url('w_fog_80.png') 0 0 transparent;}
.w-fog90 {background: url('w_fog_90.png') 0 0 transparent;}
/* Red Fog Background Images*/
.r-fog10 {background: url('r_fog_10.png') 0 0 transparent;}
.r-fog20 {background: url('r_fog_20.png') 0 0 transparent;}
.r-fog30 {background: url('r_fog_30.png') 0 0 transparent;}
.r-fog40 {background: url('r_fog_40.png') 0 0 transparent;}
.r-fog50 {background: url('r_fog_50.png') 0 0 transparent;}
.r-fog60 {background: url('r_fog_60.png') 0 0 transparent;}
.r-fog70 {background: url('r_fog_70.png') 0 0 transparent;}
.r-fog80 {background: url('r_fog_80.png') 0 0 transparent;}
.r-fog90 {background: url('r_fog_90.png') 0 0 transparent;}