@font-face {
    font-family: 'Purisa Bold';
    src: url('purisa-bold-webfont.eot');
    src: url('purisa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('purisa-bold-webfont.woff') format('woff'),
         url('purisa-bold-webfont.ttf') format('truetype'),
         url('purisa-bold-webfont.svg#purisabold') format('svg');
    font-weight: normal;
    font-style: normal;

}