.globe{
background: url('globe-sprite.png') 0 0 no-repeat transparent;
height: 32px;
width: 32px;
}
/*Row 1*/
.globe_img_1{
background-position: 0 0;
}
.globe_img_2{
background-position: -32px 0;
}
.globe_img_3{
background-position: -64px 0;
}
.globe_img_4{
background-position: -96px 0;
}
.globe_img_5{
background-position: -128px 0;
}
.globe_img_6{
background-position: -160px 0;
}
/*Row 2*/
.globe_img_7{
background-position: 0 -33px;
}
.globe_img_8{
background-position: -32px -33px;
}
.globe_img_9{
background-position: -64px -33px;
}
.globe_img_10{
background-position: -96px -33px;
}
.globe_img_11{
background-position: -128px -33px;
}
.globe_img_12{
background-position: -160px -33px;
}
/*Row 3*/
.globe_img_13{
background-position: 0 -65px;
}
.globe_img_14{
background-position: -32px -65px;
}
.globe_img_15{
background-position: -64px -65px;
}
.globe_img_16{
background-position: -96px -65px;
}
.globe_img_17{
background-position: -128px -65px;
}
.globe_img_18{
background-position: -160px -65px;
}
/*Row 4*/
.globe_img_19{
background-position: 0 -97px;
}
.globe_img_20{
background-position: -32px -97px;
}
.globe_img_21{
background-position: -64px -97px;
}
.globe_img_22{
background-position: -96px -97px;
}
.globe_img_23{
background-position: -128px -97px;
}
.globe_img_24{
background-position: -160px -97px;
}
/*Row 5*/
.globe_img_25{
background-position: 0 -129px;
}
.globe_img_26{
background-position: -32px -129px;
}
.globe_img_27{
background-position: -64px -129px;
}
.globe_img_28{
background-position: -96px -129px;
}
.globe_img_29{
background-position: -128px -129px;
}
.globe_img_30{
background-position: -160px -129px;
}
/*Row 6*/
.globe_img_31{
background-position: 0 -161px;
}
.globe_img_32{
background-position: -32px -161px;
}
.globe_img_33{
background-position: -64px -161px;
}
.globe_img_34{
background-position: -96px -161px;
}
.globe_img_35{
background-position: -128px -161px;
}
.globe_img_36{
background-position: -160px -161px;
}
/*Row 7*/
.globe_img_37{
background-position: 0 -193px;
}
.globe_img_38{
background-position: -32px -193px;
}
.globe_img_39{
background-position: -64px -193px;
}
.globe_img_40{
background-position: -96px -193px;
}
.globe_img_41{
background-position: -128px -193px;
}
.globe_img_42{
background-position: -160px -193px;
}
/*Row 8*/
.globe_img_43{
background-position: 0 -225px;
}
.globe_img_44{
background-position: -32px -225px;
}
