.globe{
background: url('globe-sprite.png') 0 0 no-repeat transparent;
height: 32px;
width: 32px;
}
.globe_img_1{
background-position: 0 0;
}
.globe_img_2{
background-position: -34px 0;
}
.globe_img_3{
background-position: -68px 0;
}
.globe_img_4{
background-position: -102px 0;
}
.globe_img_5{
background-position: -136 0;
}
.globe_img_6{
background-position: -170 0;
}