/*
	Purple: #551A8B (85,26,139)
	Lime Green: #32CD32 (50,205,50)
*/

img {
	max-width: 100%;
	height: auto;
}

body, html {
	/* color: #551A8B; */
	height: 100%;
	font-family: 'Catamaran', sans-serif;
}

/* a {
	color: #551A8B;
}

a:hover {
	color: #32CD32;
} */

.purple {
	color: #551A8B;
}

.green {
	color: #32CD32;
}

.social {
	font-size: 30px;
	line-height: 1;
}

.bgimg {
	position: relative;
	/*opacity: 0.75;*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@media (max-width: 544px) {
	.bgimg {
		background-attachment: scroll;
	}
}

.header-bg {
	background: #c8c8c8;
	background: #c8c8c880;
	background: rgba(200, 200, 200, 0.5);
}

.logo-header {
	width: 49px;
}

.logo-small {
	width: 30px;
}

.bgimg-1 {
	background-image: url("../img/steve_2.jpg");
	background-position: 50% 70%;
}

.overflow-hidden {
	overflow: hidden;
}

.headline-image {
	border-radius: 21px 21px 0 0;
	height: 300px;
	width: 80%;
}

.contact{
	background-color: rgba(255,255,255,0.6);
	margin: 40px 0;
}

.info {
	background-color: #FFF;
	padding: 15px;
	text-align: justify;
	border-top: solid 3px;
	border-bottom: solid 3px;
}

@media (min-width: 544px) {
	.info {
		padding: 30px 60px;
	}
}

.info.invert {
	color: #FFF;
	/*background-color: #777;*/
	background-color: #551A8B;
}

.footer {
	background-color: white
}

/* MEDIA */

/* SM */
@media (min-width: 544px) {

}

/* MD */
@media (min-width: 768px) {
	.flex-md-equal > * {
		-ms-flex: 1;
		flex: 1;
	}
}

/* LG */
@media (min-width: 992px) {
	.flex-lg-equal > * {
		-ms-flex: 1;
		flex: 1;
	}
}

/* XL */
@media (min-width: 1200px) {

}
