/*
	Purple: #551A8B (85,26,139)
	Lime Green: #32CD32 (50,205,50)
*/

img { 
	max-width: 100%;
	height: auto;
}

body, html {
	height: 100%;
	font-family: 'Catamaran', sans-serif;
	color: #551A8B;
}

a {
	color: #551A8B;
}

a:hover {
	color: #32CD32;
}

.purple {
	color: #551A8B;
}

.green {
	color: #32CD32;
}

.bgimg {
	position: relative;
	/*opacity: 0.75;*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@media (max-width: 544px) {
	.bgimg {
		background-attachment: scroll;
	}
}

.social-icons {
	position: absolute;
	top: 0;
	right: 0;
}

.social-icons a {
	text-shadow: 2px 2px #ffffff;
}

.bgimg-1 {
	background-image: url("../img/steve_2.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background-image: url("../img/three.jpg");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("../img/four.jpg");
	min-height: 400px;
}

.bgimg-4 {
	background-image: url("../img/steve_3.jpg");
	min-height: 400px;
}

.bgimg-5 {
	background-image: url("../img/six.jpg");
	min-height: 500px;
}

.caption {
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	/*background-color: rgba(17, 17, 17, 0.85);*/
	background-color: rgba(50, 205, 50, 0.85);
	color: #fff;
	padding: 20px;
	letter-spacing: 5px;
	display: inline-block;
}

@media (min-width: 544px) {
	.caption {
		top: 45%;
	}
	.caption span.border {
		letter-spacing: 10px;
	}
}

.caption.inverse span.border {
	background-color: rgba(85, 26, 139, 0.85);
}

.caption span.border.transparent {
	background-color: transparent;
	color: #f7f7f7;
}

.contact{
	background-color: rgba(255,255,255,0.6);
	margin: 40px 0;
}

.info {
	background-color: #FFF;
	padding: 15px;
	text-align: justify;
	border-top: solid 3px;
	border-bottom: solid 3px;
}

@media (min-width: 544px) {
	.info {
		padding: 30px 60px;
	}
}

.info.invert {
	color: #FFF;
	/*background-color: #777;*/
	background-color: #551A8B;
}

.footer {
	background-color: white
}

/* COLOR HELPERS */

.facebook-blue, 
.facebook-blue:hover, 
.facebook-blue:active, 
.facebook-blue:visited, 
.facebook-blue:focus {
	color: #3b5998;
}

.twitter-blue, 
.twitter-blue:hover, 
.twitter-blue:active, 
.twitter-blue:visited, 
.twitter-blue:focus {
	color: #55acee;
}

.youtube-red, 
.youtube-red:hover, 
.youtube-red:active, 
.youtube-red:visited, 
.youtube-red:focus {
	color: #cd201f;
}

.black, 
.black:hover, 
.black:active, 
.black:visited, 
.black:focus {
	color: #000;
}

/* CURVED HR 
	http://tympanus.net/Development/SectionSeparators/
*/

.zigzag{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-size: 100px 100%;
	background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, #2980b9), color-stop(0.5, #3498db));
	background-image: linear-gradient(15deg, #3498db 50%, #2980b9 50%);
}

.zigzag.purple-clear-top {
	top: 0;
	background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, #551A8B), color-stop(0.5, transparent));
	background-image: linear-gradient(15deg, transparent 50%, #551A8B 50%);
}

.zigzag.clear-purple-bottom {
	top: auto;
	bottom: 0;
	background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, transparent), color-stop(0.5, #551A8B));
	background-image: linear-gradient(15deg, #551A8B 50%, transparent 50%);
}

.zigzag.clear-white-bottom {
	top: auto;
	bottom: 0;
	background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, transparent), color-stop(0.5, #FFFFFF));
	background-image: linear-gradient(15deg, #FFFFFF 50%, transparent 50%);
}

.no-border {
	border: none;
}

.no-border-t {
	border-top: none;
}

.no-border-b {
	border-bottom: none;
}


/* MEDIA */

/* SM */
@media (min-width: 544px) {

}

/* MD */
@media (min-width: 768px) {

}

/* LG */
@media (min-width: 992px) {

}

/* XL */
@media (min-width: 1200px) {

}