body{
	position:relative;
	background-image: url('../img/keys.jpg');
	background-color: #666;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color: #FFF;
}
@media (max-width: 768px) {
	body{
		background-repeat: repeat-y;
		background-position: center top;
	}
}
@media handheld {
	body{
		background-repeat: repeat-y;
		background-position: center top;
	}
}
a {
	color: #FFF;
}
a:hover{
	color: #8BE2D2;
}
h2 a:hover{
	color: #FFF;
}
/*Font Updates*/
.alight-center{
	text-align: center;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
	color: #bbb;
}
.title{
	font-family: 'Permanent Marker', sans-serif;
	font-size: 100px;
	color: #000;
	text-shadow: 5px 5px 0px rgba(256,256,256,1);
}
/*Carousel*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin: 0 auto;
}
.carousel-caption.dark{
	color: #000;
	text-shadow: 0 3px 3px rgba(256,256,256,1);
}
.carousel-caption.light{
	color: #fff;
	text-shadow: 0 3px 3px rgba(0,0,0,.6);
}
.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
border: 1px solid #fff;
border-radius: 10px;
cursor: pointer;
background-color: #000;
}
.carousel-indicators .active {
margin: 0;
width: 12px;
height: 12px;
background-color: #ff0;
}
/*Footer*/
.footer{
	border-top: solid 1px #FFF;
	margin-top: 50px;
}
.footer-email{
	color: #FFF;
	padding: 30px 0;
}
/*Fixes*/
img{
	max-width: 100%;
}
/*Count Down*/
.countdown-div{
	text-align: center;
}
.timeframe{
	font-family: 'AlphaMack', sans-serif;
	display: inline-block;
	margin: 10px;
	background: #dedede;
	padding: 5px;
	min-width: 160px;
	text-align: center;
	border: solid 5px #FFF;
	color: #444;
	border-radius: 20px;
}
.timeframe.months, .timeframe.hours, .timeframe.seconds{
	background: #FFD5E0;
}
.timeframe.days, .timeframe.minutes{
	background: #CCFFFF;
}
.timeframe h4{
	font-size: 50px;
}
.timeValue{
	font-size: 60px;
	line-height: 1;
	font-weight: bold;
}
.null{
	display: none;
}

/* */
.content{
	width: 450px;
	margin: 50px;
	padding: 20px;
}
.content p{
	font-size: 20px;
}
.float-left{
	float: left;	
}

.float-right{
	float: right;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

.first{
	background:url(../img/firstBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 950px;
	margin: 0 auto;
	padding: 0;
	background-size: cover;
}

.first .bg{
	background: url(../img/stork.png) 50% 50% no-repeat fixed;
	height: 950px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 200;
}

.second{
	background: url(../img/secondBg.png) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-size: cover;
}

.second .bg{
	background: url(../img/pacifier.png) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 200;
}

.third{
	background: url(../img/thirdBG.png) 50% 0 no-repeat fixed;
	color: white;
	height: 650px;
	background-size: cover;
}

.third .bg{
	background: url(../img/bottle.png) 50% 0 no-repeat fixed;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 200;
}

.fixed{
	background: transparent;
	min-height: 300px;
	margin: 0 auto;
	padding: 100px 0;
}