body{
position:relative;
background-image: url('../img/witt-seal.jpg');
background-color: #666;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
color: #FFF;
}
@media (max-width: 768px) {
	body{
	background-repeat: repeat-y;
	background-position: center top;
	}
}
a {
color: #FFF;
}
a:hover{
color: #b90102;
}
h2 a:hover{
color: #FFF;
}
/*Navbar Updates*/
.navbar-default .navbar-nav > li > a {
color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
color: #FFF;
background-color: transparent;
}
.navbar-default .navbar-nav > .dropdown > a .caret, .navbar-default .navbar-nav > .dropdown > a:hover .caret {
border-top-color: #FFF;
border-bottom-color: #FFF;
}
.navbar-default .navbar-nav > .dropdown.open > a .caret, .navbar-default .navbar-nav > .dropdown.open > a:hover .caret {
border-top-color: #777;
border-bottom-color: #777;
}
.navbar-default .navbar-brand {
color: #FFF;
}
/*Font Updates*/
.alight-center{
text-align: center;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Headland One', serif;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
color: #bbb;
}
.thumbnail, .modal-content{
color: #b90102;
}
/*Carousel*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
margin: 0 auto;
}
/*Footer*/
.footer{
border-top: solid 1px #FFF;
margin-top: 100px;
}
.footer-email{
color: #FFF;
padding: 30px 0;
}
/*Fixes*/
img{
max-width: 100%;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
margin-right: 0;
}
.navbar-collapse {
max-height: 400px;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
	background-color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #333;
	background-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #FFF;
	background-color: #428bca;
	}
}
/*@media screen and (max-width: 641px){
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
	  position: relative;
	  min-height: 1px;
	  padding: 0;
	}
}*/