/*
 * Base structure
 */
html,
body {
  height: 100%;
  background: url('../img/wf-2.jpg') center center fixed #fff no-repeat;
  background-size: cover;
}

.white-90{
  background-color: rgba(255,255,255,.9);
  padding: 20px;
}
/*
 * Header
 */
.masthead{
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0,0,0,.5);
  margin: 30px 0;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-brand a, .masthead-brand a:hover, .masthead-brand a:focus {
  text-decoration: none;
  color: #fff;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 22px;
  font-weight: normal;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.9);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.masthead-nav .open>a, .masthead-nav .open>a:hover, .masthead-nav .open>a:focus {
  background-color: transparent;
  border-color: #30B2B8;
  text-shadow: 2px 2px 2px #30B2B8;
  color: #fff;
}
.masthead-nav .dropdown-menu {
  min-width: 160px;
  font-size: 18px;
}
.masthead-nav .dropdown-menu>li>a {
  color: #30B2B8;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

/*
 * AIS Button
 */

.btn-ais {
  text-shadow: 1px 1px 0 #000;
  color: #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#30B2B8 100%);
  background-image: -o-linear-gradient(top,#fff 0,#30B2B8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#30B2B8));
  background-image: linear-gradient(to bottom,#fff 0,#30B2B8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#30B2B8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}

.btn-ais:hover, .btn-ais:focus {
  background-color: #30B2B8;
  background-position: 0 -15px;
  color: #fff;
}

/*
 * Footer
 */

.mastfoot {
  color: #fff;
  text-align: center;
  padding: 20px;
}

@media (min-width: 768px) {
  .nav {
    padding-top: 20px;
  }
}
